@model IEnumerable<mtt_timer.Models.WebSettings>

@{
    ViewData["Title"] = "Index";
}
<style>

 </style>
<h1>Image Library</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prompt)
            </th>
            <th>
                Image thumbnail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Prompt)
            </td>
                <td>
                    <img src="@Html.DisplayFor(model => item.Path)" style="width:70px" />
                </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
