@model mct_timer.Models.Background

<div class="bg-item">
    <table cellpadding="0" cellspacing="0" class="bg-table">
        <tr>
            <td width="100%" valign="middle" align="center">

                <div class="bg-review"
                     org-src="@Html.DisplayFor(modelItem => Model.Url)"
                     info="@Html.DisplayFor(modelItem => Model.Info)"
                     tp="@Html.DisplayFor(modelItem => Model.BgType)"
                     author="@Html.DisplayFor(modelItem => Model.Author)"
                     style="background-image: url(@Html.DisplayFor(modelItem => Model.Url));">
                </div></td></tr>
                                <tr><td align="center">
                                    <img class="icon-info" title="Info" src="~/icons/info-b.png" style="width:30px;cursor:pointer">&nbsp;
                @if (Model.Visible)
                {
                    <a href="@Url.Action("HideDefBG", "Settings", new {  bgid=Model.id, visible=false })" title="Hide Background"><img title="Hide" src="~/icons/eye.png" style="width:30px"></a>
                }
                else
                {
                    <a href="@Url.Action("HideDefBG", "Settings", new {  bgid=Model.id, visible=true  })" title="Show Background"><img title="Show" src="~/icons/noeye.png" style="width:30px"></a>
                }
            </td>
        </tr>
    </table>
</div>

